/*IMPORTING CUSTOM FONTS*/
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
 



/* BODY STYLES -----------------------------------*/
html, body{
    margin: 0;
    height: 100%;
    overflow: auto;
}


body{
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background: -webkit-linear-gradient(top, rgba(20,87,164,1) 0%,rgba(118,187,240,0) 100%);
    background: -moz-linear-gradient(top, rgba(20,87,164,1) 0%, rgba(118,187,240,0) 100%);
    background: linear-gradient(to bottom, rgba(20,87,164,1) 0%,rgba(118,187,240,0) 100%);
    background: -o-linear-gradient(to bottom, rgba(20,87,164,1) 0%,rgba(118,187,240,0) 100%);
    /* SCROLLING SUPPORT INCLUDES IOS DEVICES */
    overflow-y: scroll;
   -webkit-overflow-scrolling: touch;
}

/* GLOBAL STYLES */
.container{
    width: 80%;
    margin: auto;
    overflow:hidden;
}

ul{
    padding: 0;
    margin: 0;
}

.button_1{
    height: 38px;
    background: #5c7ad6;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}


.dark{
    padding: 15px;
    background: #0b254f;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    
}


/* HEADER STYLES -----------------------------------*/
header{
    background: #5c7ad6;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #ffffff 3px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    /*top|right|bottom|left*/
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #003399;
    font-weight: bold;
}

header .highlight, header .current a:hover{
    color: #b3c6ff;
    font-weight: bold;
}

header a:hover{
    font-weight:bold;
}



/* SHOWCASE STYLES -----------------------------------*/
#showcase{
    min-height: 400px;
    background: url('../img/keyboard_backlight-1920x1280.jpg') no-repeat 0;
    text-align: center;
    color: #ffffff;
    border-bottom: #ffffff 3px solid;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}


/* NEWSLETTER STYLES -----------------------------------*/
#newsletter{
    padding: 15px;
    color: #ffffff;
    background: #0b254f;
    border-bottom: #ffffff 3px solid;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* STYLES FOR BOXES -----------------------------------*/
#boxes{
    margin-top: 20px;
}

#boxes .box{
    float:left;
    width: 30%;
    padding: 10px;
    text-align: center; 
    opacity: .8; 
}

#boxes .box img{
    width: auto;
    border: 0;
}

#boxes .box a, #boxes .box p, #boxes .box h3{
    text-decoration: none;
    color: #000000;
}

#boxes .box:hover{
    opacity: 1;
}

#boxes .box:visited{
    text-decoration: none;
    color: #000000;
}



/* STYLES FOR SIDEBAR -----------------------------------*/
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}


/* STYLE FOR SIDEBAR TRACK NAV ON ABOUT PAGE------------ */
.sidebar_track_nav a{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    margin-left: 1em;
}

.sidebar_track_nav a:hover{
    font-weight: bold;
}
#sidebar li{
    list-style: none;
    margin-bottom: 5px;
}

/* STYLE FOR YOUTUBE ON ABOUT PAGE ---------------------*/
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* STYLES FOR main-col --------------------------------*/
article#main-col{
    float: left;
    width: 65%;
}


/* STYLES FOR individual-tracks ------------------------*/
ul#individual-tracks li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}

#bus_intel, #comp_forensics, #info_arch, #sys_admin{
    opacity: .8;
}

#bus_intel:hover, #comp_forensics:hover, #info_arch:hover, #sys_admin:hover{
    opacity: 1;
}


/* STYLES FOR STICKY FOOTER --------------------------*/
#content_wrapper{
    min-height:100%;
    position:relative;
}

#page_content {
    padding-bottom:80px;
}

footer {
    color: #ffffff;
    background-color: #5c7ad6;
    text-align: center;
    border-top: #ffffff 3px solid;
    width:100%;
    height:80px;
    position:absolute;
    bottom:0;
    left:0;
}

footer p{
    margin-top: 1.5em;
    font-size: 18px
}


/* ~~~~~~~~~~~~~~~~ MEDIA QUERIES | MOBILE RESPONSIVE ~~~~~~~~~~~~~~~~~ */
@media(max-width: 768px){
    header #branding,
    header nav,
    header li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar,
    #showcase h1{
        float: none;
        text-align: center;
        width: 100%;
    }
    
    @media(max-width: 768px){
        #mobile_showcase{
            font-size: 40px;
            margin: ;
            padding: 0;
        }   
    }
    
    header{
        padding-bottom: 20px;
    }
    
    #showcase h1{
        margin-top: 40px;
    }
    
    #newsletter button,
    .quote button{
        display: block;
        width: 100%;
    }
    
    #newsletter form input[type="email"],
    .quote input,
    .quote textarea{
        width: 100%;
        margin-bottom: 5px;
    }
    
    #showcase{
    min-height: 500px;
    background: url('../img/keyboard_backlight-1920x1280.jpg') no-repeat   0 -600px;
    text-align: center
    color: #ffffff;
    }
    
    html, body{
    height: auto;
    }
    
    footer p{
    margin-top: 2.5em;
    font-size: 12px
    }
    
    .boxes > a{
        text-decoration: none;
    }
}

/* MEDIA QUERIES FOR LARGE 4K AND LARGER DISPLAYS */
  @media(min-width: 1920px){
    #showcase {
        background-size: 100%;
    }
}



























